<p-splitter [panelSizes]="[25, 75]" [style]="{ height: '300px' }" styleClass="mb-8">
  <ng-template pTemplate="panel">
    <p-floatlabel variant="on">
        <p-datepicker [(ngModel)]="dateFrom" inputId="date_from" showIcon iconDisplay="input" />
        <label for="date_from">Od</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
        <p-datepicker [(ngModel)]="dateTo" inputId="date_to" showIcon iconDisplay="input" />
        <label for="date_to">Do</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-dropdown [(ngModel)]="selectedRoom"
      [options]="roomOptions"
      optionLabel="label" 
      optionValue="value"
      placeholder="Select Room" />
      <label for="room">Lokal</label>
    </p-floatlabel>
    <button (click)="fetchReports()">Zatwierdź</button>
  </ng-template>
  <ng-template pTemplate="panel">
    <p-table
    [value]="reports"
    showGridlines
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Użytkownik</th>
                <th>Lokal</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr>
                <td>{{ report.name }}</td>
                <td>{{ report.date }}</td>
                <td>{{ report.time }}</td>
                <td>{{ report.user }}</td>
                <td>{{ report.room }}</td>
            </tr>
        </ng-template>
    </p-table>
  </ng-template>
</p-splitter>